
https://www.perplexity.ai/search/9e65c056-41ac-4275-abf3-718ccc0e498d

In [ ]:
import pandas as pd

#檔案:相對路徑的寫法
pd.read_csv('./data/台鐵車站資訊.csv')

In [ ]:

# #檔案:絕對目錄的寫法
# import os
# os.path.dirname(os.path.abspath(__name__))
# os.path.join(current_dir,'data')
# # csv_filename = '台鐵車站資訊.csv'
# # csv_path = os.path.join(data_dir,csv_filename)
# # pd.read_csv(csv_path)

In [ ]:

#檔案:絕對目錄的寫法
import os
current_dir = os.path.dirname(os.path.abspath(__name__))
data_dir = os.path.join(current_dir,'data')
csv_filename = '台鐵車站資訊.csv'
csv_path = os.path.join(data_dir,csv_filename)
station_info = pd.read_csv(csv_path)

In [ ]:
csv1_filename = '每日各站進出站人數2020.csv'
csv1_path = os.path.join(data_dir, csv1_filename)
inOut2020_df = pd.read_csv(csv1_path)
inOut2020_df

In [ ]:
inOut2020_merge = pd.merge(inOut2020_df,station_info,how='left',left_on="staCode",right_on="stationCode")
inOut2020_merge

In [ ]:
inOut2020_merge = pd.merge(inOut2020_df, station_info,how='left',left_on="staCode",right_on="stationCode")
#清理資料
df1 = inOut2020_merge.reindex(columns=['trnOpDate','gateInComingCnt','gateOutGoingCnt','stationName'])
df1.columns = ['日期','進站人數','出站人數','站名']
df1

In [ ]:
df1.info()

In [ ]:
df1['日期'] = pd.to_datetime(df1['日期'].astype(str)) #轉換為日期格式
df1.info()

In [ ]:
df2 = df1.set_index('日期') # 將日期設為索引
df2

In [ ]:

##依據值的搜尋
##mask
df2[df2['站名'] == "基隆"]

In [ ]:

##依據值的搜尋
##query()
df2.query('進站人數>=10000')

In [ ]:

df2.groupby(by='站名').sum()

In [18]:
df2[['進站人數','出站人數']].resample('ME').sum()

                進站人數      出站人數
日期
2020-01-31  19993675  19993675
2020-02-29  15671872  15671872
2020-03-31  15315217  15315217
2020-04-30  13113386  13113386
2020-05-31  15326842  15326842
2020-06-30  16976704  16976704
2020-07-31  18298257  18298257
2020-08-31  18518554  18518554
2020-09-30  17698221  17698221
2020-10-31  19477695  19477695
2020-11-30  18711859  18711859
2020-12-31  19177729  19177729