In [ ]:

import numpy as np
import pandas as pd

scores = np.random.randint(50, 101, size=(50, 5))
df = pd.DataFrame(scores,
             columns = ["國文","英文","地理","人文","氣候"],
             index=[f"stu{i}" for i in range(1,51)]
)
df['國文']
df['英文']
df[['國文','地理']]
df

In [ ]:

df.loc['stu1'] #取得第一筆資料
df.loc['stu1':'stu5'] #取得第一到第五筆資料
df.loc[['stu1','stu50']] #取得第一筆和第五十筆資料
df.iloc[0]  # 取得第一筆資料

In [ ]:
sum = df['國文'] + df['英文'] + df['地理'] + df['人文'] + df['氣候']
df['總分'] = sum
mean = sum / 5
df['平均'] = mean
df

In [10]:

df.iloc[-10:,:5] # 取得最後10筆資料的前5個欄位

       國文  英文  地理   人文  氣候
stu41  95  75  97  100  79
stu42  74  85  96   90  78
stu43  65  69  64   95  74
stu44  72  90  65  100  88
stu45  91  67  51   73  84
stu46  78  75  67   84  60
stu47  70  56  51   73  67
stu48  93  85  50   76  53
stu49  83  70  54   52  98
stu50  82  82  87   95  53

In [11]:
df.iloc[-10:,:5].mean() # 取得最後10筆資料的前5個欄位的平均值

國文    80.3
英文    75.4
地理    68.2
人文    83.8
氣候    73.4
dtype: float64