
https://www.perplexity.ai/search/f9b40ada-565a-4ef9-aba5-3afd8763b3ca

In [19]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.arange(50,70))
s1

0     50
1     51
2     52
3     53
4     54
5     55
6     56
7     57
8     58
9     59
10    60
11    61
12    62
13    63
14    64
15    65
16    66
17    67
18    68
19    69
dtype: int64

In [20]:

#透過值的選取
#值的搜尋
#mask的技巧,要使用比較運算子得到boolean的資料
mask = s1 >= 60
mask
s1[mask]

10    60
11    61
12    62
13    63
14    64
15    65
16    66
17    67
18    68
19    69
dtype: int64

In [21]:

s1[s1 < 60]

0    50
1    51
2    52
3    53
4    54
5    55
6    56
7    57
8    58
9    59
dtype: int64

In [22]:
#dataframe的建立
data = np.random.randint(50, 101,size=(5,5)) #隨機產生50~100的整數
# 5x5的矩陣
# 這裡的數字可以隨意調整
# 例如：data = np.random.randint(50, 101,size=(3,4)) #3x4的矩陣
df = pd.DataFrame(data,
            index=["學生1","學生2","學生3","學生4","學生5"],
            columns=["國文","英文","數學","地理","歷史"])
df

     國文  英文   數學  地理  歷史
學生1  67  65   61  51  55
學生2  75  95  100  91  69
學生3  85  95   50  73  92
學生4  76  79   57  82  88
學生5  58  67   91  78  64

In [23]:
df[df['歷史']>=60]  # 這裡的60是隨意設定的閾值，可以根據需要調整

     國文  英文   數學  地理  歷史
學生2  75  95  100  91  69
學生3  85  95   50  73  92
學生4  76  79   57  82  88
學生5  58  67   91  78  64

In [24]:
#選取歷史>=60同時數學>=60
#位元邏輯運算子
df[(df['歷史'] >= 60) & (df['數學'] >= 60)]

     國文  英文   數學  地理  歷史
學生2  75  95  100  91  69
學生5  58  67   91  78  64