In [ ]:
import pandas as pd

all_data = pd.read_csv('world.csv')
all_data.info()

In [ ]:
all_data = pd.read_csv('world.csv',usecols=['國家','日期','總確診數','新增確診數','新增死亡數'])
all_data

In [ ]:
#使用mask,透過值選取資料
all_data[all_data['國家'] == '台灣']

In [8]:
#使用query()實體方法

taiwan = all_data.query('國家=="台灣"')
taiwan

        國家          日期     總確診數  新增確診數  新增死亡數
163986  台灣  2020-01-16        0      0      0
163987  台灣  2020-01-17        0      0      0
163988  台灣  2020-01-18        0      0      0
163989  台灣  2020-01-19        0      0      0
163990  台灣  2020-01-20        0      0      0
...     ..         ...      ...    ...    ...
164884  台灣  2022-07-02  3837856  34807     96
164885  台灣  2022-07-03  3870528  32672     88
164886  台灣  2022-07-04  3893643  23115     69
164887  台灣  2022-07-05  3929627  35984    103
164888  台灣  2022-07-06  3964188  34561     95

[903 rows x 5 columns]

In [ ]:

taiwan_japan = all_data.query('國家=="台灣" or 國家=="日本"')

In [ ]:
taiwan.query('新增確診數 >= 10000')
taiwan.query('新增確診數 >= 10000 and 新增死亡數 > 100')