https://www.perplexity.ai/search/a582a441-1968-40e0-9be5-bde48bf8f663

In [3]:
import numpy as np
import pandas as pd

np.arange(9) # Create 一維陣列

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [4]:
import numpy as np
import pandas as pd

np.arange(9).reshape(3, 3) # Create a DataFrame with 3 rows and 3 columns

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [5]:
import pandas as pd
import numpy as np


df = pd.DataFrame(np.arange(9).reshape((3, 3)),
            index=['a', 'b', 'c'],
            columns=['台北', '台中', '高雄'])
df

   台北  台中  高雄
a   0   1   2
b   3   4   5
c   6   7   8

In [6]:
df1 = df.reindex(index=['b','a','c'])
df1

   台北  台中  高雄
b   3   4   5
a   0   1   2
c   6   7   8

In [7]:
df2 = df1.reindex(columns=['台中','台北'])
df2

   台中  台北
b   4   3
a   1   0
c   7   6