https://www.perplexity.ai/search/04cf1a79-12d5-443d-b7cf-c11cdb8292f4

In [ ]:
import numpy as np
import pandas as pd

np.random.seed(0)
df = pd.DataFrame(np.random.randn(10,4), columns=['A', 'B', 'C', 'D'])
df

In [ ]:
df.iloc[0,2] = np.nan # Introduce a NaN value
df.iloc[4, 3] = np.nan
df

In [ ]:
df.style.highlight_null(color='red') # This will highlight NaN values in the DataFrame with red color

In [ ]:
# Highlight the maximum value in each row with a specific style
df.loc[:4].style.highlight_max(axis=1,props="color:white; font-weight:bold; background-color:darkblue")

In [ ]:
# Highlight the maximum value in each column with a specific style
df.loc[:4].style.highlight_max(axis=0,props="color:white; font-weight:bold; background-color:darkblue")

In [ ]:
df.loc[:4].style.highlight_max(axis=None,props="color:white; font-weight:bold; background-color:darkblue")

In [ ]:
df = pd.DataFrame({
    'One': [1.2, 1.6, 1.5],
    'Two': [2.9, 2.1, 2.5],
    'Three': [3.1, 3.2, 3.8],
})
# Highlight values between 2.1 and 2.9 in the 'Two' column
df.style.highlight_between(left=2.1, right=2.9, props="color:white; font-weight:bold; background-color:darkblue")

In [ ]:
# Highlight values between multiple ranges in the DataFrame
df.style.highlight_between(left=[1.4, 2.4, 3.4], right=[1.6, 2.6, 3.6], axis=1, props="color:white; font-weight:bold; background-color:darkblue")