https://www.perplexity.ai/search/11c131c7-b2f1-44c7-bbcc-080db58fe95e

In [8]:
#多階層的Series
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data.index.names = ('key1','key2')
data

key1  key2
a     1      -0.061073
      2       1.267354
      3      -1.246085
b     1      -0.653355
      2       1.431357
c     3       2.048891
      1       0.976244
d     2      -1.024283
      3      -1.031059
dtype: float64

In [9]:
data.unstack()

key2         1         2         3
key1
a    -0.061073  1.267354 -1.246085
b    -0.653355  1.431357       NaN
c     0.976244       NaN  2.048891
d          NaN -1.024283 -1.031059

In [10]:

data.unstack(level='key1')

key1         a         b         c         d
key2
1    -0.061073 -0.653355  0.976244       NaN
2     1.267354  1.431357       NaN -1.024283
3    -1.246085       NaN  2.048891 -1.031059

In [11]:
data.unstack(level='key2')

key2         1         2         3
key1
a    -0.061073  1.267354 -1.246085
b    -0.653355  1.431357       NaN
c     0.976244       NaN  2.048891
d          NaN -1.024283 -1.031059

In [12]:
data.unstack(level='key1',fill_value=0)

key1         a         b         c         d
key2
1    -0.061073 -0.653355  0.976244  0.000000
2     1.267354  1.431357  0.000000 -1.024283
3    -1.246085  0.000000  2.048891 -1.031059

In [13]:
#多階層的DataFrame
import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(12).reshape((4,3)),
                  index=[['a','a','b','b'],[1, 2, 1, 2]],
                  columns=[['台北','台北','台中'],['Green','Red','Green']])
df.index.names=['key1','key2']
df.columns.names = ['縣市',"顏色"]
df

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [14]:
df1 = df.stack(level=['縣市','顏色'],future_stack=True)
df1

key1  key2  縣市  顏色
a     1     台北  Green     0
                Red       1
            台中  Green     2
      2     台北  Green     3
                Red       4
            台中  Green     5
b     1     台北  Green     6
                Red       7
            台中  Green     8
      2     台北  Green     9
                Red      10
            台中  Green    11
dtype: int64

In [15]:

df1.unstack(level=['key1','縣市'],fill_value=0)

key1        a      b
縣市         台北 台中  台北  台中
key2 顏色
1    Green  0  2   6   8
     Red    1  0   7   0
2    Green  3  5   9  11
     Red    4  0  10   0

In [16]:

df1.unstack(level=['key1','縣市','key2'],fill_value=0)

key1   a           b
縣市    台北 台中 台北 台中 台北 台中  台北  台中
key2   1  1  2  2  1  1   2   2
顏色
Green  0  2  3  5  6  8   9  11
Red    1  0  4  0  7  0  10   0