### 
相關係數(correlation)

In [ ]:
import numpy as np
import pandas as pd

data = {'年廣告費投入':[12.5, 15.3, 23.2, 26.4, 33.5, 34.4, 39.4, 45.2, 55.4, 60.9],
            '月均銷售額':[21.2, 23.9, 32.9, 34.1, 42.5, 43.2, 49.0, 52.8, 59.4, 63.5]}
dataFrame = pd.DataFrame(data, index=[2011,2012,2013,2014,2015,2016,2017,2018,2019,2020])
corration = dataFrame['年廣告費投入'].corr(dataFrame['月均銷售額'])
corration

In [ ]:
import matplotlib.pyplot as plt
figure = plt.figure(figsize=(8,5)) # Create a figure with specified size
# 要先安裝中文字形
# figure.suptitle('年廣告費投入與月均銷售額的關係', fontsize=16) # Set the title of the figure

figure.set_tight_layout(True) # Adjust layout to prevent overlap

axes = figure.add_subplot()
axes.plot(dataFrame.index,dataFrame['年廣告費投入'],marker='.') # Plot the annual advertising investment
axes.set_xlabel('年份') # Set x-axis label
axes.plot(dataFrame.index,dataFrame['月均銷售額'],marker='.') # Plot the average monthly sales
axes.set_ylabel('金額(萬元)') # Set y-axis label
plt.show()

In [ ]:
# yfinance 是一個Python 套件，
# 它提供了一種簡單的方法來從Yahoo 財經獲取金融數據。
# 這個套件非常適合那些需要進行股票市場分析、財務數據探索或建立投資策略的程式開發人員 ...
# 安裝 yfinance 套件
# pip install yfinance
# 使用 yfinance 下載台積電的股價數據
# 這裡的 '2330.TW' 是台積電在Yahoo 財經的股票代碼，
# start 和 end 參數指定了下載數據的時間範圍。

import yfinance as yf
yf.download('2330.TW',start='2024-01-01',end='2024-06-01',auto_adjust=True)

In [ ]:
import yfinance as yf
tw2330 = yf.download('2330.TW',start='2024-01-01',end='2024-06-01',auto_adjust=True)
tw2330['Close'].plot(title='台積電股價', figsize=(10, 6))  # Plot the closing price of TSMC
plt.xlabel('日期')  # Set x-axis label

In [10]:
import yfinance as yf
tw2330 = yf.download('2330.TW',start='2024-01-01',end='2024-06-01',auto_adjust=True)
tw2330['Close']['2330.TW']

[*********************100%***********************]  1 of 1 completed

Date
2024-01-02    593.0
2024-01-03    578.0
2024-01-04    580.0
2024-01-05    576.0
2024-01-08    583.0
              ...
2024-05-27    869.0
2024-05-28    865.0
2024-05-29    857.0
2024-05-30    838.0
2024-05-31    821.0
Name: 2330.TW, Length: 98, dtype: float64

In [11]:

import yfinance as yf
tw2330 = yf.download('2330.TW',start='2024-01-01',end='2024-06-01',auto_adjust=True)
tw2303 = yf.download('2303.TW',start='2024-01-01',end='2024-06-01',auto_adjust=True)
tw2454 = yf.download('2454.TW',start='2024-01-01',end='2024-06-01',auto_adjust=True)
tw2317 = yf.download('2317.TW',start='2024-01-01',end='2024-06-01',auto_adjust=True)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [12]:
tw2330_s = tw2330['Close']['2330.TW']
tw2303_s = tw2303['Close']['2303.TW']
tw2454_s = tw2454['Close']['2454.TW']
tw2317_s = tw2317['Close']['2317.TW']

pd.DataFrame({"台積電":tw2330_s,"聯電":tw2303_s,"聯發科":tw2454_s,"鴻海":tw2317_s})

              台積電         聯電          聯發科          鴻海
Date
2024-01-02  593.0  51.900002   915.833191  102.375000
2024-01-03  578.0  50.599998   889.693176  101.887505
2024-01-04  580.0  50.799999   889.309814  101.400002
2024-01-05  576.0  50.799999   882.601746  101.400002
2024-01-08  583.0  50.500000   881.643433   98.962502
...           ...        ...          ...         ...
2024-05-27  869.0  56.599998  1231.425781  180.375000
2024-05-28  865.0  56.400002  1255.383545  180.862503
2024-05-29  857.0  55.900002  1236.217407  175.987503
2024-05-30  838.0  55.799999  1236.217407  172.087509
2024-05-31  821.0  55.000000  1183.510498  167.699997

[98 rows x 4 columns]